
<section class="py-16 bg-gray-100">
  <div class="max-w-5xl mx-auto px-6 text-center">
    <h1 class="text-4xl font-bold text-green-800">Crypto Art Friends</h1>
    <p class="mt-4 text-gray-700 text-lg">
  	Discover, collect, and support the next generation of digital artists

	Experience unique crypto art pieces and contribute directly to artists through blockchain-powered donations and NFT purchases.
    </p>
  </div>
</section>


<section class="py-16 bg-gray-100">
  <div class="max-w-5xl mx-auto px-6">
    <h2 class="text-3xl font-bold text-center text-green-800">Hoe werkt PLG?</h2>
    <p class="text-center text-gray-700 mt-4 max-w-3xl mx-auto"> 
	  <div  
	    data-widget="m-claim-buy-only"
	    data-grant-type="signature"
	    data-client-id="f64d01cb19b2e023dd203e8bb227adf79df3e784cb8052344a9b1da6f726b5e0"  
	    data-app-name="Crypto Art Museum"  
	    data-network="8453"
	    data-id="1"
	  >
	  </div>
ddd

	  <div
  data-widget="m-claim-buy-only"
  data-id="f64d01cb19b2e023dd203e8bb227adf79df3e784cb8052344a9b1da6f726b5e0"
></div>
    </p>
   </div>
</section>

