
<section class="mb-4">
  <h2 class="text-black"><%= t '.teaser' %></h2>
  <h6 class="text-gray-700"><%= t '.statement' %></h6>
</section>

<section class="mb-4">
  <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
    <%= t '.get_started' %></button>
  <button class="bg-gray-300 text-gray-900 px-4 py-2 rounded hover:bg-gray-400"><%= t '.learn_more' %></button>
</section>
   