
<section>
<h2>Privacy en cookies</h2>
    
<p>Playground Amsterdam vindt de privacy van zijn bezoekers, therapeuten en docenten erg belangrijk. Playground Amsterdam verbindt zich er dan ook toe om jouw privacy te respecteren. Alle persoonlijke gegevens worden verwerkt in overeenstemming met de wet van 8 december 1992 die de privacy bij de verwerking van persoonlijke gegevens beschermt en met de GDPR van 25 mei 2018.</p>

<h5>Privacy van website bezoekers</h5>

Bij het versturen van een contactaanvraag geef je als bezoeker de toestemming om jouw gegevens te verzenden naar de juiste persoon.</p>

<!--
<h5>Privacy van therapeuten en docenten</h5>

<p>De opgegeven profielgegevens zijn uitsluitend toegankelijk voor en aanpasbaar door jou als therapeut en/of docent en door de webbeheerders van de site. Als therapeut en/of docent ben je je bewust van welke gegevens getoond worden aan de bezoekers van onze sites en heb je jouw toestemming hiervoor gegeven door akkoord te gaan met onze gebruikersvoorwaarden.</p>
-->

<h2>Bescherming van de privacy van websitebezoekers</h2>

<h5>Wanneer en waarvoor gebruiken we jouw persoonlijke gegevens?</h5>

<p>Als bezoeker kan je vrij gebruikmaken van onze diensten zonder je te registreren. Wanneer je contact opneemt met een thereapeut of trainer via het boekingsformulier geef je expliciet toestemming om jouw gegevens te versturen naar de therapeut of trainer. Deze ingevoerde gegevens worden enkel gebruikt voor contact tussen jou en de therapeut of trainer en worden niet voor andere doeleinden gebruikt.</p>

<!--
<p>Playground Amsterdam gebruikt Google Analytics om een beeld te krijgen van het bezoekersverkeer. Al deze gegevens zijn anoniem en worden enkel intern verwerkt.</p>
-->

<h5>Hoelang worden gegevens bewaard?</h5>

<p>Jouw contactverzoek wordt gedurende 4 weken bewaard in het profiel van de therapeut of trainer. Nadien wordt jouw contactverzoek automatisch verwijderd ter bescherming van de gevoelige inhoud.</p>

<h5>Hoe beschermen we jouw gegevens?</h5>

<p>We verbinden ons ertoe om alle gepaste maatregelen te treffen om jouw persoonsgegevens te beschermen. Alle gegevens worden verwerkt en bewaard op een server binnen de EU die conform is aan met de Europese regelgeving.</p>

<p>Voor de contactaanvragen maken we gebruik van de diensten van een betrouwbare partner. Die doet ook al het mogelijke om jouw gegevens veilig te verwerken. Lees meer hierover in hun privacybeleid:</p>

<h2>Bescherming van de privacy van therapeuten en docenten</h2>
<h5>Waarvoor gebruiken we jouw persoonlijke gegevens?</h5>

<p>Playground Amsterdam verwerkt al jouw opgegeven registratiegegevens (zowel je contactgegevens als alle aanvullende gegevens zoals geselecteerde zoekitems en tekst) om je account te beheren en om je in staat te stellen gebruik te maken van onze diensten. Dit omvat het beheer van de informatie die je via jouw profiel openbaar maakt, het mogelijk maken dat bezoekers je contacteren en het verzorgen van je facturatie.</p>

<p>Jouw persoonlijke gegevens worden niet doorgegeven aan derden en worden niet gebruikt voor externe publiciteitsdoeleinden. Playground Amsterdam is niet aansprakelijk voor het ongewettigd afnemen van informatie en foutief gebruiken van deze gegevens door derden.</p>

<h5>Hoelang worden gegevens bewaard?</h5>

<p>We bewaren gegevens nooit langer dan nodig is om de nodige functionaliteiten te bieden.</p>

<p>Om jou als hulpverlener de mogelijkheid te bieden om je profiel eenvoudig te heractiveren, worden je profielgegevens behouden tot je expliciet vraagt om deze te verwijderen. Indien het nodig is voor het goed functioneren van de site, kunnen verjaarde gegevens door het webbeheer zelf verwijderd worden.</p>

<p>Contactverzoeken worden jou toegezonden via e-mail en 4 weken bewaard in het enkel voor jou zichtbare gedeelte van je account. Daarna worden deze automatisch verwijderd uit je profiel én van onze server. Je kan deze nadien, ook via ons, niet meer opvragen.</p>

<h5>Hoe kan je gegevens beheren of verwijderen?</h5>

<p>Profielgegevens kunnen ten allen tijden aangepast worden door in te loggen in je persoonlijk account.</p>

<p>Wil je jouw profiel volledig offline laten plaatsen, dan kan dat eenvoudig door dit te melden aan het webbeheer via het contactformulier. Alle gegevens kunnen via deze weg ook verwijderd worden, met uitsluiting van je facturatiegegevens welke om boekhoudkundige redenen bewaard dienen te blijven.</p>

<h5>Hoe beschermen we jouw gegevens?</h5>

<p>We verbinden ons ertoe om alle gepaste maatregelen te treffen om jouw persoonsgegevens te beschermen tegen vernietiging, verlies, onbedoelde wijziging, beschadiging of openbaarmaking. Om deze veiligheid te garanderen, maken we onder meer periodieke back-ups.</p>

<p>Alle gegevens worden verwerkt en bewaard op servers binnen de EU die conform is aan met de Europese regelgeving.</p>

<p>Voor onze geautomatiseerde mails, nieuwsbrieven, contactaanvragen en betalingsverwerking maken we gebruik van de diensten van betrouwbare partners. Zij doen ook al het mogelijke om jouw gegevens veilig te verwerken. Lees meer hierover in hun privacybeleid:
Adyen // Mailchimp
</p>

<h5>Welke mails ontvang je?</h5>

<p>Playground Amsterdam is zich bewust van gezond e-mailverkeer. We versturen enkel e-mails in functie van het doel van de site:</p>
<ul>
    <li>Contactverzoeken opgesteld door de bezoeker van de site.</li>
    <li>Betalingsuitnodigingen en facturatie gelinkt aan jouw persoonlijk profiel.</li>
    <li>Sporadische nieuwsbrieven met belangrijke updates omtrent vernieuwde functionaliteiten en nieuws binnen het werkveld.</li>
</ul>

<p>Wens je geen nieuwsbrieven te ontvangen? Dan kan je eenvoudig uitschrijven onderaan een nieuwsbrief of dit melden aan het webbeheer via het contactformulier.</p>

<h2>Cookies</h2>

<p>Playground Amsterdam maakt gebruik van technologie die doorgaans aangeduid wordt met de term "cookies", om de website te beheren en ervoor te zorgen dat hij de functies biedt die je ervan verwacht. Cookies zijn kleine bestanden die wij naar je computer sturen en waar we later naar kunnen teruggrijpen. Cookies helpen ons je gebruikservaring op onze website zo vlot en relevant mogelijk te maken. Ze tonen ons wat bezoekers op deze website doen, en dat helpt ons de algemene ervaring voor iedereen te verbeteren.</p>

<p>Er bestaan verschillende soorten cookies. Deze website maakt gebruik van:</p>

    <p>Functionele cookies zijn nodig om de diensten uit te voeren die je aanvraagt en dus noodzakelijk om deze websites naar behoren te laten functioneren. De informatie in kwestie registreert geen specifieke gegevens van de individuele gebruiker.
    <p>Geanonimiseerde analytische cookies: Deze anonieme cookies van vb. Google Analytics verzamelen anonieme informatie over de manier waarop bezoekers omgaan en reageren op de inhoud van onze website. Op die manier kunnen wij onze website nog beter vormgeven. De informatie in kwestie registreert geen specifieke gegevens van de individuele gebruiker, maar wordt gebruikt om op totaalniveau webstatistieken te creëren en te analyseren.</p>

<p>Deze website maakt geen gebruik van:</p>


    <p>Gewone of pseudo-anonieme, maar niet geanonimiseerde, analytische cookies: Andere websites gebruiken deze cookies om meer informatie te verzamelen over de achtergrond van de bezoeker zoals locatie, leeftijd ed. Playground Amsterdam maakt geen gebruik van gewone of niet geanonimiseerde analytische cookies.</p>
    <p>Marketing en sociale media cookies: Andere websites gebruiken deze cookies om bezoekers te volgen zodat ze gerichte advertenties kunnen weergeven die relevant zijn voor die specifieke bezoeker. Daarom gebruikt Playground Amsterdam geen sociale plug-ins, marketing of sociale media cookies.</p>

<h5>Hoe is Google Analytics ingesteld op deze website?</h5>

<p>Playground Amsterdam maakt geen gebruik van Google Analyitcs</p>
<!--
<p>Playground Amsterdam gebruikt volledig geanonimiseerde Google Analytics-cookies om een beeld te krijgen van het bezoekersverkeer en zo de website verder te optimaliseren. Al deze gegevens worden door Google Analytics volledig anoniem verzameld en opgeslagen door het maskeren van het laatste octet van het IP-adres. Deze gegeven worden enkel intern verwerkt en worden met niemand gedeeld, ook niet met andere Google-diensten. Tevens maken we geen gebruik van andere Google-diensten in combinatie met de Google Analytics-cookies. In functie van jouw gegevensbescherming en GDPR hebben we een bewerkersovereenkomst gesloten met Google Analytics.</p>-->

<h5>Cookies verwijderen:</h5>

<p>Als je bestaande cookies op je computer wil verwijderen, kijk dan in de handleiding van je browser door op "Help" te klikken in het menu van je browser. Let op: Als je onze cookies verwijdert of het installeren van cookies tegenhoudt, kan de toegang tot of het gebruik van bepaalde delen of functies van onze website geblokkeerd worden.</p>

<h5>Bevatten deze websites links naar externe websites?</h5>

<p>Onze websites bevatten links naar andere websites die onafhankelijk functioneren en die niet door ons gecontroleerd worden. Wij voorzien deze links uitsluitend om je meer en beter te kunnen informeren. Andere websites hebben waarschijnlijk hun eigen privacy-beleid. We raden je aan ze eerst even te lezen bij je eerste bezoekje. Playground Amsterdam is niet verantwoordelijk voor informatie die geleverd wordt door deze externe websites en verbind zich niet met de inhoud hiervan.</p>


</section>

