<%= render 'layouts/hero', text: "WHOWE?ARE", image: "the-masked-man.gif" %>
<section>
  <p>Behind Playground Amsterdam stands a collective of diverse leaders, artists, investors, and creators. By leveraging different networks, communities, and companies, we actively work to bring not only financial value, but also social and cultural value into this world!</p>

  <p>First and foremost, it’s about love. Love for what you do. The Playground is a place where you only do the things you enjoy. Mistakes don’t really exist here, because everything you do comes from your own passion and joy of play. Love is something you give and receive.</p>

  <p>It’s also about knowledge. Experimenting, discovering, learning—and sharing it all with each other. Playing and growing together!</p>

  <p>Lastly, it’s about action. Show what you can do. Brew your own beer, create art, organize an event, make a magazine, or run a validator. In our consumer society, this isn’t a given, and even at many Web3 events, you’re bombarded with marketing pitches in exchange for free drinks and snacks.</p>

  <p>When you combine love, knowledge, and action, you arrive at what we see as the heart, mind, and hands of the Playground. This is what connects all the players of the Playground. Though some may want to take only the fruit, the tree will be able to grow thanks to everyone who contributes.</p>
</section>
