<%= render 'layouts/hero', text: "WHOWE?ARE", image: "the-masked-man.gif" %>
<section>
  <p>Behind Playground Amsterdam stands a collective of diverse leaders, artists, investors, and creators. By leveraging different networks, communities, and companies, we actively work to bring not only financial value, but also social and cultural value into this world!</p>

  <p>First and foremost, it’s about good vibes—and <strong>adaption</strong> is key to that. Let the world be and be the world. Flow like the wind, shine like the moon. The Playground is a space where energy moves freely, where we co-create, share, and let it flow.</p>

  <p>It’s also about knowledge—experimenting, discovering, learning, and sharing it with each other. Playing and growing together! There is <strong>abundance</strong> for us all, a space where we evolve freely. Mistakes don’t really exist here, because everything you do comes from a place of passion and play.</p>

  <p>Lastly, it’s about taking action. You have the <strong>agency</strong> to make things happen—brew your own beer, create art, organize an event, publish a magazine, or run a validator. Don’t wait for someone else to do it or give you permission. Step up and shape the world around you.</p>

  <p>When you combine love, knowledge, and action, you arrive at what we see as the heart, mind, and hands of the Playground. This is what connects all the players of the Playground. Though some may want to take only the fruit, the tree will be able to grow thanks to everyone who contributes.</p>
</section>
