<%= render 'layouts/hero', text: "WIEWE?ZYN", image: "the-masked-man.gif" %>
<section>
	<p>Achter Playground Amsterdam staat een collectief van diverse leiders, kunstenaars, investeerders en makers. Door verschillende netwerken, gemeenschappen en bedrijven te benutten, werken we actief aan het brengen van niet alleen financiële waarde, maar ook sociale en culturele waarde in deze wereld!</p>

	<p>Allereerst draait het om liefde. Liefde voor wat je doet. De Playground is een plek waar je alleen de dingen doet die je leuk vindt. Fouten bestaan hier eigenlijk niet, want alles wat je doet komt voort uit jouw eigen passie en spelplezier. Liefde is iets wat je geeft en ontvangt.</p>

	<p>Daarnaast gaat het om kennis. Experimenteren, ontdekken, leren —en dit alles met elkaar delen. Samen spelen en groeien!</p>

	<p>Als laatste draait het om daden. Laat zien wat je kunt. Brouw je eigen bier, creëer kunst, organiseer een event, maak een tijdschrift, of run een validator. In onze consumptiemaatschappij is dit niet vanzelfsprekend, en zelfs op veel Web3-evenementen word je overspoeld met marketingpraatjes in ruil voor gratis drankjes en hapjes.</p>

	<p>Wanneer je liefde, kennis en actie combineert, kom je uit bij wat wij zien als het hart, hoofd en handen van de Playground. Dit is wat alle spelers van de Playground met elkaar verbindt. Hoewel sommigen misschien alleen de vruchten wil plukken, groeit de boom dankzij iedereen die bijdraagt.</p>
<section>