 <!-- Footer Section -->
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 text-center md:text-left">
  <div>
    <a href="https://your-link.com" target="_blank">
    <%= link_to root_path do %> 
      <%=  image_tag("nftplgams.png", size: "150x150", alt: " Logo Playground Amsterdam", class: "mx-auto md:mx-0", loading: "lazy")  %>
    <% end %>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">About us</h3>
    <ul>
      <li><a href="#">Who we are</a></li>
      <li><a href="#">Manifest</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Playgrounds</h3>
    <ul>
      <li><a href="#">Regenton</a></li>
      <li><a href="#">VeBetter</a></li>
      <li><a href="#">Maison</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Community</h3>
    <ul>
      <li><a href="#">Discord</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</div>
<div class="text-center mt-6">
  <p class="text-yellow">&copy; 2024 www.playground.amsterdam</p>
</div>
